<!doctype html>
<html lang="fr">

    <%- include('partials/header') %>

    <main id="catalog">
      <div class="catalog">
        <img src="/img/catalogBackground.jpg" alt="">
        <h1>Notre catalogue</h1>
      </div>

      <form id="sort form">
        <select name="sort" id="sort">
            <option value="spec">Caractéristique</option>
            <option value="origin">Origine</option>
            <option value="prix">Prix</option>
        </select>
        <input class="sort--button" type="button" value="Valider">
      </form>


      <div class="products container">

        <% for( const coffee of coffees ) { %>
          <article class="product container">
            <h3 class="product name"><%= coffee.name %></h3>
            <p class="product desc"><%= coffee.description %></p>
            <a class="product button" href="/catalogue/<%= coffee.id %>">Découvrir</a>
          </article>
        <% } %>
      </div>
      <div class="button-container">
        <button class="products button">Voir tous les cafés</button>
      </div>
    </main>

    <footer>
      <%- include('partials/footer') %>
    </footer>

    <script defer src="/scripts/menu.js" ></script>
    <script defer src="/scripts/displayProducts.js" ></script>
    <script defer src="/scripts/sort.js"></script>
  </body>


</html>
