<!doctype html>
<html lang="fr">

    <%- include('partials/header') %>

    <main id="catalog">
      <div class="catalog">
        <img src="/img/catalogBackground.jpg" alt="">
        <h1>Notre catalogue</h1>
      </div>

      <form action="/catalogue/specFilter">
        <select name="specFilter" id="specFilter">
          <% for( const spec of specs) { %>
            <option value="<%= spec.spec %>"><%= spec.spec %></option>
          <% } %>
        </select>
        <input class="specFilterButton" id="specFilterutton" type="submit" value="Valider">
      </form>

      <form action="/catalogue/originFilter">
        <select name="originFilter" id="originFilter">
             <% for( const origin of origins) { %>
            <option value="<%= origin.origin %>"><%= origin.origin %></option>
          <% } %>
        </select>
        <input class="originFilterButton" id="originFilter" type="submit" value="Valider">
      </form>

      <form action="/catalogue/sort">
        <select name="sortSelector" id="sortSelector">
            <option value="spec asc">Caractéristique ⬆️</option>
            <option value="spec desc">Caractéristique ⬇️</option>
            <option value="origin asc">Origine ⬆️</option>
            <option value="origin desc">Origine ⬇️</option>
        </select>
        <input class="sortSelectorButton" id="sortSelectorBbutton" type="submit" value="Valider">
      </form>


      <div class="products container">

        <% for( const coffee of filteredCoffees ) { %>
          <article class="product container">
            <h3 class="product name"><%= coffee.name %></h3>
            <div class="product origin">Origine : <span><%= coffee.origin %></span></div>
            <div class="product spec">Caractéristique principale : <span><%= coffee.spec %></span></div>
            <p class="product desc"><%= coffee.description %></p>
            <a class="product button" href="/catalogue/<%= coffee.id %>">Découvrir</a>
          </article>
        <% } %>
      </div>
      <div class="button-container">
        <button class="products button">Voir tous les cafés</button>
      </div>
    </main>

    <footer>
      <%- include('partials/footer') %>
    </footer>

    <script defer src="/scripts/menu.js" ></script>
    <script defer src="/scripts/displayProducts.js" ></script>
  </body>


</html>
