<!doctype html>
<html lang="fr">

    <%- include('partials/header') %>

    <main>
      <div class="catalog">
        <img src="/img/catalogBackground.jpg" alt="">
      </div>

      <div class="products container">

        <article class="container product">
          <h2 class="container product--name"><%= coffee.name %></h2>
          <div class="container product--origin">Origine : <span><%= coffee.origin %></span></div>
          <div class="container product--spec">Caractéristique principale : <span><%= coffee.spec %></span></div>
          <p class="container product--desc">Description : <span><%= coffee.description %></span></p>
          <div class="container product--price">Prix au Kilo : <span><%= coffee.price %>€</span></div>
          <div class="container product--available">Disponible : <span><%= coffee.available %></span></div>
        </article>
      </div>
      <a class="products button" href="/catalogue">Retour au catalogue</a>
    </main>

    <footer>
      <%- include('partials/footer') %>
    </footer>

    <script defer src="/scripts/indexMenu.js" ></script>
    <script defer src="/scripts/catalogProducts.js" ></script>
  </body>


</html>
